.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.logincard {
	padding: 90px;
	margin-top: 20px;
	display: inline-block;
	font-size: 14px;
	background-image: url(../src/assest/images/cardbackground5.jpg)
}

.label {
	width: 10%
}

.cardContent {
	padding: 20px;
	width: 250px;
}

.formCard {
	padding: 90px;
}

.MuiTypography-colorSecondary-61 {
	color: #419553;
}

.RegisterCardContent {
	padding: 90px;
}

.logo {
	display: flex;
	justify-content: flex-start;
}

.header {
	color: maroon;
	text-align: center;
	font: outline;
}

.formCard {
	padding: 90px;
	margin-top: 20px;
	background-image: url('../src/assest/images/cardbackground5.jpg');
}

.fundoo {
	color: crimson;
	text-align: center;
	font-display: initial;
}
